<template lang="pug">div
  .login
    v-card.login-card(width="500")
      v-form.login-form(@submit.prevent="loginAndRedirect")
        v-card-text.d-flex.flex-column
          v-text-field(
            v-model="username"
            label='Имя пользователя'
            outlined
            :error-messages="account?.errors?.username"
          )
          v-text-field(
            v-model="password"
            label='Пароль'
            type='password'
            outlined
            :error-messages="account?.errors?.password"
          )
        template(v-if="Object.prototype.hasOwnProperty.call(account.errors, 'non_field_errors')")
          .error--text(v-for="(error, index) in account.errors.non_field_errors" :key="index") {{ error }}
        
        v-card-actions
          v-btn(type="submit" text) Войти
</template>

<script>
import api from "@/plugins/api.js"
import { useAccountStore } from '@/stores/account.js'

export default {
  name: 'Login',
  
  data: () => ({
    username: '',
    password: '',
  }),
  
  setup() {
    const account = useAccountStore()
    return {account}
  },
  
  created() {
    this.check()
  },
  
  methods: {
    check() {
      console.log(localStorage.getItem('token'))
      // api.app.get('identity/profile/current/')
      //     .then(response => {
      //       if (localStorage.token && response.data.user) this.$router.push('/')
      //     })
    },
    
    loginAndRedirect() {
      this.account.login({username: this.username, password: this.password})
          .then(() => {
            this.$router.push('/')
          })
    },
    
    logoutAndRedirect() {
      console.log('logoutAndRedirect')
      // TODO logout on server
      // this.userLogin({username: this.username, password: this.password})
      //     .then(() => {
      //       this.$router.push('/login')
      //     })
    }
  },
}
</script>

<style lang="scss">
.v-card-actions {
  display: block;
  padding: 0 1rem;
  text-align: right;
  
  .v-btn {
  }
}

.error--text {
  padding: 0 1rem 1rem;
}
</style>




