<template lang="pug">div
  .login Выход
</template>

<script>
import { useAccountStore } from '@/stores/account.js'

export default {
  name: 'Logout',
  
  data: () => ({
    username: '',
    password: '',
  }),
  
  setup() {
    const account = useAccountStore()
    return {account}
  },
  
  mounted() {
    this.logout()
  },
  
  methods: {
    logout() {
      this.account.setAccessToken()
      this.$router.push('/login')
    }
  },
}
</script>

<style lang="scss">
</style>




