<template lang="pug">.common-dialog
  el-dialog(v-model="show" width="700" :show-close="false")
    template(#header="{ close, titleId, titleClass }")
      .common-dialog__header
        .common-dialog__header__title appoint
        .common-dialog__header__actions
          v-btn.button(@click="appointStore.getAppoint()" title="Отменить изменения")
            v-icon mdi-undo
          v-btn.button(@click="appointStore.escape()" title="Закрыть")
            v-icon mdi-close
    .common-form
      el-tabs(v-model="activeTab" type="border-card")
        el-tab-pane(v-for="tab in tabs" :name="tab.name" :label="tab.label")
          component(
            :is-active="activeTab === tab.name"
            :is="tab.component"
            @delete="deleteAppoint"
          )
</template>

<script>
import {useAppointStore} from '@/stores/appoint.js'
import TabAppoint from '@/components/appoint/tabs/TabAppoint.vue'
import TabClient from '@/components/appoint/tabs/TabClient.vue'
import TabTask from '@/components/appoint/tabs/TabTask.vue'
import TabComment from '@/components/appoint/tabs/TabComment.vue'

export default {
  name: 'AppointDialog',

  components: {TabAppoint, TabClient, TabTask, TabComment},

  data: () => ({
    activeTab: '',
    tabs: [
      {name: 'appoint', label: 'Приём', component: 'TabAppoint'},
      {name: 'client', label: 'Клиенты', component: 'TabClient'},
      {name: 'task', label: 'Задачи', component: 'TabTask'},
      {name: 'comment', label: 'Комментарии', component: 'TabComment'},
      {name: 'sms', label: 'Смс', component: 'TabAppoint'},
      {name: 'history', label: 'История', component: 'TabAppoint'},
    ],
    timeout: null
  }),

  setup() {
    const appointStore = useAppointStore()
    return {appointStore}
  },

  computed: {
    show: {
      get() {
        return Object.keys(this.appointStore.appoint).length > 0
      },
      set(value) {
        if (value === false) {
          this.appointStore.escape()
        }
      }
    }
  },

  watch: {
    show(v) {
      if (v) {
        this.activeTab = 'appoint'
      } else {
        this.activeTab = ''
      }
    }
  },

  methods: {
    deleteAppoint() {
      this.appointStore.delete()
    }

  }
}
</script>
