.working_calendar {
  margin-top: 15px;
  font-size: 14px;

  &__empty {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    font-size: 25px;
    text-align: center;
  }

  &__months {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin: 20px auto;
    text-align: center;

    .month {
      width: 250px;
      padding: 0 20px;

      &__label {
        font-size: 18px;
        font-weight: bold;
      }

      &__annotate {
        padding-bottom: 5px;
        border-bottom: 1px solid;
        margin-bottom: 2px;
      }

      &__days {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 2px;
      }

      &__day {
        padding: 5px;
        text-align: center;

        &--weekend {
          background-color: $color_red_lite;
        }

        &--holiday {
          color: #fff;
          background-color: $color_red;
        }

        &--pre_holiday {
          background-color: $color_green_light;
        }

        &:hover {
          background-color: $color_gray_light;
        }

        &--empty {
          &:hover {
            background-color: unset;
          }
        }
      }
    }
  }
}
