.page_timetable {
  padding: 10px 15px !important;

  &__title {

  }

  &__table {
    margin: 0 0 15px 0;
    border-right: $border;
    border-bottom: $border;

    &__row {
      display: grid;
      //grid-template-rows: repeat(auto-fit, 1fr);
      grid-template-columns: 180px auto;

      &__empty {
        border-right: $border;
      }
    }

    &__staff {
      text-align: right;
      padding: 2px 5px 0 0;
      border-top: $border;
      border-left: $border;
      border-right: $border;
    }

    &__days, &__days--top {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(28px, 1fr));
      border-top: $border;
    }

    &__days--top {
      max-height: 29px;
      overflow: hidden;
    }


    &__weekday {
      cursor: default;
      display: flex;
      min-height: 28px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      text-align: center;
    }

    &__day {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      height: 100%;
      min-height: 28px;

      &--empty {
        width: 100%;
        height: 28px;
        opacity: .35;
      }

      &--working {
        width: 100%;
        height: 28px;
        background: rgba(5, 200, 100, .25)
      }

      &:hover {
        * {
          opacity: 1;
        }
      }
    }

  }

  &__annotate {
    margin: 0 0 10px 179px;
  }

  &__header {
    width: 100%;
    display: grid;
    grid-template: "annotate annotate title";
    grid-gap: 1px;
    margin: 5px 0;

    &__title {
      grid-area: title;
      justify-self: end;
      font-size: 25px;
      margin: 0 5px 0;
    }
  }
}
