<template lang="pug">div
  .clients.header
    .full_name Ф.И.О.
    .contact
      .contact__type тип
      .contact__value контакт
      .contact__actions
        el-button(icon="Plus" size="small" title="Добавить клиента" @click="addClient")
  .clients(v-for="(client, clientIndex) in value")
    .full_name
      common-field(
        v-model="client.full_name" :field="clientForm.find(i => i.name === 'full_name')"
      )
      el-button-group.btn
        el-button(icon="Delete" size="small" title="Удалить клиента" @click="deleteClient(clientIndex)")
        el-button(icon="Plus" size="small" title="Добавить контакт" @click="addContact(clientIndex)")
    .contacts
      .contact(v-for="(contact, contactIndex) of client.contacts")
        common-field.contact__type(
          v-model="contact.type" :field="contactForm.find(i => i.name === 'type')"
        )
        common-field.contact__value(
          v-model="contact.value" :field="contactForm.find(i => i.name === 'value')"
        )
        .contact__actions
          el-button(icon="Delete" size="small" title="Удалить контакт" @click="deleteContact(clientIndex, contactIndex)")

  //div {{ value }}
</template>


<script>
import commonField from '@/components/common/CommonField.vue'

export default {
  name: 'AppointClients',

  components: {commonField},

  props: {
    modelValue: {type: Array, default: () => []},
    clientForm: {type: Object, default: () => new Object},
    contactForm: {type: Object, default: () => new Object},
  },

  data: () => ({
    contactType: '',
    options: [
      {value: 'phone', label: 'phone', icon: 'Iphone'},
      {value: 'phone', label: 'email', icon: 'Wallet'}
    ]
  }),

  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(v) {
        this.$emit('update', v)
      }
    },
  },

  methods: {
    addClient() {
      this.value.push({
        full_name: '',
        contacts: [{type: 'phone', value: ''}]
      })
    },
    deleteClient(clientIndex) {
      this.value.splice(clientIndex, 1)
    },
    addContact(clientIndex) {
      this.value[clientIndex].contacts.push({type: 'phone', value: ''})
    },
    deleteContact(clientIndex, contactindex) {
      this.value[clientIndex].contacts.splice(contactindex, 1)
    }
  }
}
</script>


<style lang="scss">
.clients {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 0;
  padding: 2px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);

  .full_name {
    display: grid;
    grid-template-columns: 1fr 72px;
    gap: 0;

    .btn {
      margin: 3px 0 0 0;
    }
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 2fr 36px;
  gap: 0;

  &__type {
    display: inline-block;
  }

  &__value {
    display: inline-block;
  }

  &__actions {
    display: inline-block;
    padding: 3px 3px 0 0;
    text-align: right;
  }
}

.header {
  background-color: rgba(0, 0, 0, .075);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .full_name {
    padding: 2px 12px 0;
  }

  .contact {
    &__type, &__value {
      padding: 2px 12px 0;
    }

    &__actions {
      padding: 0 3px 0 0;
    }
  }
}
</style>