<template lang="pug">div(v-if="isActive")
  .common-form__row(v-for="field of appointStore.appointForm")
    .common-form__row__label(:class="{required: field.required}") {{ field.label }}
    .common-form__row__control
      common-field(
        v-model="appointStore.appoint[field.name]" :field="field"
      )
      //:errors="errors[field.name]" @update="updateItem"

  appoint-clients(
    v-model="appointStore.appoint.clients"
    :client-form="appointStore.personForm"
    :contact-form="appointStore.contactForm"
  )

  .common-dialog__actions
    .common-dialog__actions_left
      el-button(icon="Delete" v-if="appointStore.appoint.id" @click="$emit('delete')") Удалить
    .common-dialog__actions_right
      el-button(icon="Select" @click="appointStore.saveItem") Сохранить
</template>

<script>
import {useAppointStore} from '@/stores/appoint.js'
import commonField from '@/components/common/CommonField.vue'
import appointClients from '@/components/appoint/tabs/AppointClients.vue'

export default {
  name: 'TabAppoint',

  components: {commonField, appointClients},

  props: {
    isActive: {type: Boolean, default: false},
  },

  data: () => ({
    timeout: null,
  }),

  setup() {
    const appointStore = useAppointStore()
    return {appointStore}
  },

  watch: {
    isActive(value) {
      console.log('isActive', value)
      if (value) {
        // if (Object.keys(this.appointStore.appointForm).length === 0) {
        // }
        this.appointStore.getForm()
        this.appointStore.getAppoint()
      }
    },
  },

  computed: {},

  mounted() {
    this.appointStore.getForm()
    this.appointStore.getAppoint()
  },

  methods: {

  }
}
</script>


<style lang="scss">

</style>