<template lang="pug">div(v-if="isActive")
  div TabTask

</template>

<script>
import {useAppointStore} from '@/stores/appoint.js'
import commonField from '@/components/common/CommonField.vue'

export default {
  name: 'TabTask',

  components: {commonField},

  props: {
    isActive: {type: Boolean, default: false},
  },

  data: () => ({
    timeout: null
  }),

  setup() {
    const appointStore = useAppointStore()
    return {appointStore}
  },

  watch: {},

  computed: {},

  methods: {}
}
</script>
