.select-click {
  display: inline-block;
  padding-top: 5px;

  &__label {
    display: inline-block;
    padding-right: 5px;
  }

  &__item {
    display: inline-block;
    cursor: pointer;
    min-width: 25px;
    padding: 2px 5px;
    border: $border;
    border-right: none;
    text-align: center;

    &:last-child {
      border-right: $border;
    }

    &:hover {
      background-color: $color_gray_light;
    }

    &.selected {
      background-color: $color_gray_light;
    }
  }
}