.common-toolbar {
  display: grid;
  grid-template-columns: 1fr auto;;
  grid-gap: 0;

  &__display {
    padding: 0 20px;
    font-size: 20px;
  }

  &__title {
    font-size: 23px;
  }

  &__btns {
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-self: end;

    .v-btn, .v-btn:not(.v-btn--round).v-size--default {
      margin: 5px 0;
      padding: 0 4px 0 8px;

      .v-icon {
        margin: 0 8px 0 2px;
      }

      &__label {
        padding: 0 4px 0 0;
      }
    }
  }

  .v-input {
    &__control {
      background-color: #fff;
    }

    &__slot {
      min-height: unset !important;
      padding: 0 8px 0 12px !important;
    }

    &__append-inner {
      margin: 5px 0 4px !important;
    }
  }

  .v-text-field--outlined .v-label {
    top: 8px;
  }

  .v-btn {
    background-color: $color_btn !important;
    border-radius: 0;
    height: 33px !important;
    box-shadow: unset;
    padding: 0 8px;
    border-top: $border;
    border-right: $border;
    border-bottom: $border;

    &:first-child {
      border-left: $border;
    }

    * {
      //color: #fff !important;
    }
  }

  .v-btn:hover {
    color: $color_btn--hover_txt !important;
    background: $color_btn--hover !important;
  }
}
