<template lang="pug">div
  .wrapper(:class="navigation.sideBar.mode")
    top-bar.header
    side-bar.side-bar
    .main
      slot
</template>

<script>
import {useNavigationStore} from '@/stores/navigation.js'
import SideBar from '@/components/navigation/SideBar.vue'
import TopBar from '@/components/navigation/TopBar.vue'


export default {
  name: 'DefaultLayout',

  components: {
    TopBar, SideBar
  },

  data: () => ({
    showSideBar: false,
  }),

  setup() {
    const navigation = useNavigationStore()
    return {navigation}
  },

  computed: {
    layout() {
      const layoutName = this.$route.meta.layout || 'Default'
      return () => import(`@/components/layouts/${layoutName}.vue`)
    }
  },

  watch: {
    showSideBar(v) {
      console.log('showSideBar', v)
    }
  },

  methods: {}
}
</script>


<style lang="scss">
.wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 50px 1fr;
  gap: 0 0;
  grid-template-areas:
    "top-bar top-bar"
    "side-bar main";
  overflow-x: auto;
  width: 100vw;
  height: 100vh;

  &.min {
    grid-template-columns: 48px 1fr;
  }

  .header {
    grid-area: top-bar;
  }

  .side-bar {
    grid-area: side-bar;
  }

  .main {
    grid-area: main;
    padding: 15px;
  }
}


</style>