<template lang="pug">div
  slot
</template>

<script>

export default {
  name: 'EmptyLayout',
  
  components: {},
  
  data: () => ({}),
  
  setup() {
  },
  
  computed: {},
  
  methods: {}
}
</script>
