.el-input {
  width: 100%;
  //height: 33px;

  &-number {
    width: 100% !important;

    .el-input__inner {
      text-align: left !important;
    }
  }

  &__wrapper {
    padding: 0 12px;
    border: unset !important;
    border-radius: 0 !important;
    box-shadow: unset !important;
  }
}
