.c1-root-sc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  width: 100%;
  height: 100%;
  padding: 15px;

  .c1-col {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 1.5vw;
  }

  .c1-third-col {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    grid-gap: 1.25vw;
  }

  .widget-card {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 4px 10px 2px rgba(0, 0, 0, .15),
    0 4px 10px 2px rgba(0, 0, 0, .1) !important;

    .v-card__title {
      font-size: 1.25rem !important;
      font-weight: bold !important;
      line-height: 20px;
      padding: 13px 0 13px 10px;
    }
  }

  .date-time {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin: 0
  }

  .task-calendar {
    display: grid;
    min-height: auto;

    .v-calendar-weekly__day {
      position: relative;

      .date-count {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;

        i {
          display: inline-flex;
          align-items: flex-start;
          padding-top: .2vw;
        }

        .v-badge__badge {
          position: absolute;
          top: 0.2vw !important;
          left: auto !important;
          bottom: auto !important;
          right: 0.2vw !important;
          width: 1vw !important;
          height: 1vw !important;
          font-size: .5vw;
        }
      }
    }
  }
}
