.page-month {
  #grid {
    margin: 10px 20px;
    border-top: 1px solid;
    border-left: 1px solid;
    display: grid;
    //grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
  }
  .day {
    padding: .5em;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;

    &:hover {
      background-color: $color_gray_light;
    }
  }
}
