<template lang="pug">.common-field
  template(v-if="field.class_name === 'CharField'")
    el-input(
      v-if="field.widget.name === 'Textarea'"
      v-model="value"
      :placeholder="label"
      :readonly="readOnly"
      hide-details
      type="textarea"
      :autosize="{ minRows: field.widget.attrs?.rows || 2 }"
    )
    el-input(
      v-else
      v-model="value"
      :placeholder="label"
      :readonly="readOnly"
      :clearable="clearable"
      autocomplete="off"
    )

  el-input-number(
    v-else-if="field.class_name === 'IntegerField' || field.class_name === 'DecimalField'"
    v-model="value"
    :label="label"
    :readonly="readOnly"
    :clearable="clearable"
    controls-position="right"
  )

  el-switch(
    v-else-if="field.class_name === 'BooleanField'"
    v-model="value"
  )

  el-select(
    v-else-if="['PrimaryKeyRelatedField', 'ChoiceField'].includes(field.class_name) && field.choices"
    v-model="value"
    :placeholder="label"
    clearable
  )
    el-option(v-for="i in field.choices" :key="i.value" :value="i.value" :label="i.title")

  el-select(
    v-else-if="field.class_name === 'ManyRelatedField' && field.choices"
    v-model="value"
    :placeholder="label"
    multiple
    clearable
  )
    el-option(v-for="i in field.choices" :key="i.value" :value="i.value" :label="i.title")

  //v-combobox.many(
  //  v-else-if="['PrimaryKeyRelatedField', 'ManyRelatedField'].includes(field.class_name)"
  //  v-model="select"
  //  v-model:search="search"
  //  :items="choices"
  //  :label="label"
  //  :loading="loading"
  //  :multiple="multiple"
  //  :clearable="clearable"
  //  density="compact"
  //  hide-details
  //  hide-selected
  //)
  //  template(v-slot:selection="{ index, item }")
  //    .v-combobox__chip(@click="select.splice(index, 1)") {{ item.title }}


  el-date-picker(
    v-else-if="field.class_name === 'DateTimeField'"
    v-model="value"
    type="datetime"
    placeholder="placeholder"
    format="YYYY-MM-DD HH:mm"
    value-format="YYYY-MM-DDTHH:mm:ss"
  )
  date-picker(
    v-else-if="field.class_name === 'DateField'"
    v-model:value="value"
    format="YYYY-MM-DD"
    value-type="format"
  )
  date-picker(
    v-else-if="field.class_name === 'TimeField'"
    v-model:value="value"
    type="time"
    format="HH:mm"
    value-type="format"
  )

  .field-error(v-else) {{ field.name }}, {{ field.class_name }} undefined
  .field-errors(v-if="errors.length > 0")
    .field-error(v-for="error in errors") {{ error }}
</template>

<script>
import api from '@/plugins/api'
import FieldDateTime from './FieldDateTime.vue'

export default {
  name: 'CommonField',
  components: {FieldDateTime},

  props: {
    modelValue: {type: [String, Number, Boolean, Array, Object], default: () => null},
    field: {type: Object, default: () => new Object},
    placeholder: {type: String, default: ''},
    clearable: {type: Boolean, default: true},
    readOnly: {type: Boolean, default: false},
    errors: {type: Array, default: () => []},
  },

  data: () => ({
    search: null,
    timeout: null,
    loading: false,
  }),

  computed: {
    value: {
      get() {
        if (this.field.class_name === 'DecimalField') {
          return parseFloat(this.modelValue)
        }
        return this.modelValue
      },
      set(v) {
        this.$emit('update:modelValue', v)
      }
    },
    multiple() {
      return this.field.class_name === 'ManyRelatedField'
    },
    select: {
      get() {
        return this.field.choices
      },
      set(value) {
        console.log('select set', value)
      }
    },
    // disabled() {
    //   if (Object.prototype.hasOwnProperty.call(this.field.widget, 'disabled')) {
    //     return this.field.widget.disabled
    //   }
    //   return false
    // },
    label() {
      return this.placeholder || this.field.label
    }
  },

  watch: {
    // search(v) {
    //   if (this.field.widget?.search_url) {
    //     v && v !== this.value && this.querySearch(v)
    //   }
    // },
    // select(v) {
    //   if (v && typeof v === 'object') {
    //     if (this.multiple) {
    //       this.value = v.map(i => i.value)
    //     } else {
    //       this.value = v.length ? v[0].value : v.value
    //     }
    //   } else {
    //     this.value = v
    //   }
    //   console.log('select >', typeof v, v, this.value)
    // }
  },

  created() {
    // this.queryInit()
  },

  methods: {
    queryInit22() {
      if (this.field.choices) {
        this.choices = this.field.choices
        this.select = this.value
      } else if (this.field.widget?.search_url) {
        this.loading = true
        const params = {
          params: {
            model: this.field.widget.model,
            ids: this.multiple ? this.value.join(',') : this.value
          }
        }
        api.app.get(this.field.widget.search_url, params)
            .then((response) => {
              this.choices = response.data.results
              this.select = this.choices.filter(i => {
                if (this.multiple) return this.value.includes(i.value)
                return this.value === i.value
              })
            })
            .finally(() => (
                this.loading = false
            ))
      }
    },

    querySearch11(v) {
      this.loading = true
      const params = {params: {q: v, model: this.field.widget.model}}
      api.app.get(this.field.widget.search_url, params)
          .then((response) => {
            this.choices = response.data.results
            // if (this.field.class_name === 'ManyRelatedField') {
            //   const selected = this.choices.map((e) => e.value)
            //   this.choices = this.itemsDict.concat(response.data.results.filter((i) => !selected.includes(i.value)))
            // } else {
            //   this.choices = response.data.results
            // }
          })
          .finally(() => (this.loading = false))

      // Simulated ajax query
      // setTimeout(() => {
      //   this.items = this.states.filter(e => {
      //     return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
      //   })
      //   this.loading = false
      // }, 500)
    },

    selectRemove33(index, item) {
      this.select.splice(index, 1)
    },

  }
}
</script>


<style lang="scss">
.common-field {
  .el-select {
    width: 100%;
  }
}
</style>
