<template lang="pug">.common-dialog
  v-dialog(v-model="show" width="600")
    v-card
      .common-dialog__header
        .common-dialog__header__title {{ verboseName }}
        .common-dialog__header__actions
          v-btn.button(@click="$emit('reset', value)" title="Отменить изменения")
            v-icon mdi-undo
          v-btn.button(@click="escape" title="Закрыть")
            v-icon mdi-close
      .common-form
        .common-form__row(v-for="field of getFields(value)")
          .common-form__row__label(:class="{required: field.required}") {{ field.label }}
          .common-form__row__control
            common-field(
              v-model="field.initial"
              :field="field"
              :hideLabel="true"
              :errors="errors[field.name]"
              @update="updateItem"
            )
      .common-dialog__actions
        .common-dialog__actions_left
          v-btn(v-if="value.id" @click="$emit('delete')") Удалить
        .common-dialog__actions_right
          v-btn(@click="$emit('save')") Сохранить

</template>

<script>
import commonField from '@/components/common/CommonField.vue'

export default {
  name: 'DialogForm',

  components: {commonField},

  props: {
    modelValue: {type: Object, default: () => new Object},
    verboseName: {type: String, default: () => ''},
    form: {type: Object, default: () => new Object},
    errors: {type: Object, default: () => new Object},
  },

  data: () => ({
    show: false,
    timeout: null
  }),

  watch: {
    modelValue: {
      handler(value) {
        this.show = Object.keys(this.modelValue).length > 0
        this.value = value
      },
      deep: true
    },
  },

  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  },

  methods: {
    escape() {
      this.value = {}
    },

    getFields(item) {
      let result = []
      for (const key in item) {
        if (key === 'id') continue
        let field = this.form.find(i => i.name === key)
        field.initial = item[key]
        result.push(field)
      }
      return result
    },

    updateItem(name, value) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => this.value[name] = value, 0)
    },

    saveItem() {

    }
  }
}
</script>
