<template lang="pug">div
  .common-field__datetime
    v-menu(
      ref="dateMenu"
      v-model="dateMenu"
      :close-on-content-click="false"
      :return-value.sync="_date"
      transition="scale-transition"
      offset-y
      min-width="290px"
    )
      template(v-slot:activator="{ on }")
        v-text-field(
          v-on="on"
          v-model="_date"
          :label="label"
          :clearable="clearable"
        )
      v-date-picker(v-model="_date" no-title scrollable)
        v-spacer
        v-btn(text color="primary" @click="dateMenu = false") Отмена
        v-btn(text color="primary" @click="$refs.dateMenu.save(_date)") Выбрать

    v-menu(
      ref="timeMenu"
      v-model="timeMenu"
      :close-on-content-click="false"
      :return-value.sync="_time"
      transition="scale-transition"
      offset-y
      min-width="290px"
    )
      template(v-slot:activator="{ on }")
        v-text-field(
          v-model="_time"
          :label="label"
          :clearable="clearable"
          v-on="on"
        )
      v-time-picker(v-model="_time" format="24hr")
        v-spacer
        v-btn(text @click="timeMenu = false") Отмена
        v-btn(text @click="$refs.timeMenu.save(_time)") Выбрать
</template>

<script>
  export default {
    name: 'FieldDateTime',
    props: {
      value: {type: String, default: () => ''},
      label: {type: String, default: () => ''},
      clearable: {type: Boolean, default: () => false},
    },
    data: () => ({
      dateMenu: false,
      timeMenu: false,
      model: null,
    }),
    computed: {
      _date: {
        get() {
          try {
            return this.value.split('T')[0]
          } catch (e) {
            return ''
          }
        },
        set(v) {
          if (v && this._time) {
            this.$emit('input', v + 'T' + this._time)
          } else if (v) {
            this.$emit('input', v)
          } else {
            this.$emit('input', '')
          }
        }
      },
      _time: {
        get() {
          try {
            return this.value.split('T')[1]
          } catch (e) {
            return ''
          }
        },
        set(v) {
          try {
            if (v) {
              this.$emit('input', this._date + 'T' + v)
            } else {
              this.$emit('input', this._date)
            }
          } catch (e) {
            return ''
          }
        }
      },
    },
    watch: {},
    created() {
    },
    methods: {}
  }
</script>
