<template lang="pug">.common-list-filters
  label.common-list-filters--item(v-for="filter in filters")
    common-field(
      v-model="value[filter.name]"
      :field="filter"
      :placeholder="filter.label"
      @update="updateItem"
    )
</template>

<script>
import commonField from '@/components/common/CommonField.vue'

export default {
  name: 'CommonFilters',

  components: {commonField},

  props: {
    modelValue: {type: Object, default: () => new Object},
    filters: {type: Array, default: []}
  },

  data: () => ({
    timeout: null
  }),

  watch: {
    modelValue: {
      handler(value) {
        this.value = value
      },
      deep: true
    },
  },

  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  },

  methods: {
    updateItem(name, value) {
      clearTimeout(this.timeout)
      const self = this
      this.timeout = setTimeout(() => self.$emit('setFilterData', name, value), 0)
    }
  }
}
</script>


<style lang="scss">

.common-list-filters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 8px;
  padding: 5px 0;

  &--item {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .35);

    //&-label {
    //  cursor: pointer;
    //  background-color: $color_gray_light;
    //  font-size: 0.85rem;
    //  padding: 3px 8px 2px;
    //}
    //
    //&:hover .common-list-filters--item-label {
    //  background-color: $color_btn--hover;
    //  color: $color_btn--hover_txt;
    //}

    .common-field {
      display: flex;
      position: relative;
      flex-direction: column;
      height: 100%;
      min-height: unset;

      .v-input {
        &__slot {
          margin-bottom: 0 !important;
          padding-left: 8px;
        }

        &__append-inner {
          margin: 3px 1px 0 0 !important;
        }
      }

      .v-text-field {
        padding-top: 0 !important;
        margin-top: 0 !important;

        input {
          padding: 5px 0 3px !important;
        }
      }
    }
  }
}


</style>
