<template lang="pug">div
  .common-list
    common-toolbar(:title="commonStore.verbose_name_plural" :buttons="buttonsTop" @toolbarMethod="toolbarMethod")
    v-progress-linear(v-if="commonStore.itemsLoading" indeterminate color="#0075bb" height="6")
    .common-table(v-else)
      .head__row
        list-head-cell(
          v-for="item in commonStore.headers"
          v-model="commonStore.ordering"
          :ordering_fields="commonStore.ordering_fields"
          :item="item"
        )
      .body__row(v-for="item in commonStore.items" @click="commonStore.getItem(item)")
        .body__cell(v-for="key in commonStore.headers.map(i => i.name)") {{ item[key] }}

      //template(v-slot:item.edit="{ item }")
      //    v-icon(@click="getItem(item)") mdi-pencil
      //template(v-slot:item.actions="{ item }")
      //    v-icon(@click="openBottomSheet(item)") mdi-dots-vertical
      //template(v-for="relatedHeader in getRelatedHeaders()" v-slot:[`item.${relatedHeader.value}`]="{ item }")
      //    | {{ caseData.related[relatedHeader.related][item[relatedHeader.value]] }}

    v-pagination.common-pagination(
      v-if="commonStore.pagination.length > 1"
      v-model="commonStore.pagination.page"
      :length="commonStore.pagination.length"
    )

    dialog-form(
      v-model="commonStore.item"
      :verbose-name="commonStore.verbose_name"
      :form="commonStore.form"
      :errors="commonStore.itemErrors"
      @save="commonStore.saveItem"
      @delete="commonStore.deleteItem"
      @reset="resetItem"
    )
</template>

<script>
import CommonToolbar from '@/components/common/Toolbar.vue'
// import BottomSheet from '@/components/common/BottomSheet.vue'
// import CommonFilters from '@/components/common/Filters.vue'
import DialogForm from '@/components/common/DialogForm.vue'
import ListHeadCell from '@/components/common/ListHeadCell.vue'

import {useCommonStore} from '@/stores/common.js'
import CommonFilters from "@/components/common/Filters.vue";


export default {
  name: 'CommonList',
  components: {CommonToolbar, ListHeadCell, DialogForm},

  data: () => ({
    buttonsTop: [
      {name: 'currentMonth', icon: 'mdi-access-point', title: 'Инициализация', active: true, method: 'init'},
      {name: 'add', icon: 'mdi-plus', title: 'Добавить', active: true, method: 'addItem'},
      {name: 'refresh', icon: 'mdi-refresh', title: 'Обновить', active: true, method: 'getItems'},
    ],
  }),

  setup() {
    const commonStore = useCommonStore()
    return {commonStore}
  },

  computed: {},

  watch: {
    '$route.meta.model_label'() {
      this.init()
    },
    'commonStore.ordering'(newOrdering, oldOrdering) {
      if (oldOrdering && (oldOrdering.toString() !== newOrdering.toString())) this.commonStore.getItems()
    },
    'commonStore.pagination.page'() {
      this.commonStore.getItems()
    }
  },

  created() {
    this.init()
  },

  methods: {
    init() {
      this.commonStore.init({model_label: this.$route.meta.model_label})
    },

    toolbarMethod(data) {
      const item = this.buttonsTop.find(i => i.name === data.name)
      const method = item.method
      const args = item.args
      this[method](args)
    },

    getItems() {
      this.commonStore.getItems()
    },

    addItem() {
      this.commonStore.addItem()
    },

    resetItem(item) {
      this.commonStore.item = {}
      if (item.id) {
        this.commonStore.getItem(item)
      } else {
        this.commonStore.addItem()
      }
    },

  }
}
</script>
