<template lang="pug">.head__cell(
  :class="[sortable, position]"
  @click="sortable ? changeOrdering() : ''"
)
  .label {{ item.label }}
  v-icon(v-if="position==='direct'") mdi-arrow-down
  v-icon(v-else-if="position==='reverse'") mdi-arrow-up
  v-icon(v-else) mdi-arrow-up-down

</template>

<script>
export default {
  name: 'CommonListHeadCell',

  props: {
    modelValue: {type: Array, default: () => []},
    ordering_fields: {type: Array, default: () => []},
    item: {type: Object, default: () => new Object}
  },

  computed: {
    ordering: {
      get() {
        return this.modelValue
      },
      set(v) {
        this.$emit('update:modelValue', v)
      }
    },

    sortable() {
      return this.ordering_fields.includes(this.item.name) ? 'sortable' : null
    },

    position() {
      let position = null
      for (let i of this.ordering) {
        if (this.item.name === i) {
          position = 'direct'
          break
        }
        if (i.slice(0, 1) === '-' && i.slice(1) === this.item.name) {
          position = 'reverse'
          break
        }
      }
      return position
    }
  },

  methods: {
    changeOrdering() {
      let ordering = [...this.ordering]
      if (this.position === 'direct') {
        const index = ordering.findIndex(i => i === this.item.name)
        ordering[index] = '-' + this.item.name
      } else if (this.position === 'reverse') {
        ordering.splice(ordering.findIndex(i => i === '-' + this.item.name), 1)
      } else {
        ordering.push(this.item.name)
      }
      this.ordering = ordering
    }
  }
}
</script>
