<template lang="pug">.select-click
  .select-click__label(v-if="item.label") {{ item.label }}
  .select-click__item(
    v-for="item in item.items" :class="{selected: item === value}" @click="value = item"
  ) {{ item }}
</template>

<script>
export default {
  name: 'SelectClick',
  props: {
    modelValue: {type: Number, default: () => null},
    item: {type: Object, default: () => new Object()}
  },
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>
