<template lang="pug">.common-toolbar(:style="styleObject")
  slot(name="customButton")
  .common-toolbar__title(v-if="title") {{ title }}
  .common-toolbar__btns
    template(v-for="(button, button_key) in buttons")
      .common-toolbar__display(v-if="button.display") {{ button.display }}
      v-menu(v-else-if="button.items" offset-y)
        template(v-slot:activator="{ on, attrs }")
          v-btn.common-toolbar-btn(
            :title="button.title"
            :class="!button.active ? 'disabled' : ''"
            v-bind="attrs"
            v-on="button.active ? on : null"
          )
            span {{ button.label }}
        v-list
          v-list-item(
            v-for="(label, key) in button.items" :key="key"
            @click="click(button_key, key)"
          )
            v-list-item-title {{ label }}
      v-btn(
        v-else
        :title="button.title"
        :class="!button.active ? 'disabled' : ''"
        @click="button.active ? click(button.name) : null"
      )
        v-icon(v-if="button.icon") {{ button.icon }}
        .v-btn__label(v-if="button.label") {{ button.label }}
</template>

<script>
// import { mapState } from 'vuex'

export default {
  props: {
    title: {type: String, default: () => null},
    buttons: {type: Array, default: () => []},
    styleObject: {type: String, default: () => ''},
  },

  data: () => ({
    search: '',
    searchOutput: '',
    timeout: null
  }),

  watch: {
    search() {
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.searchOutput = self.search;
      }, 1000);
    },
    searchOutput: function () {
      this.$emit('changeSearch', this.searchOutput)
    }
  },

  computed: {
    // ...mapState({
    //   navigationTitle: state => state.navigation.title
    // }),
  },

  methods: {
    refresh() {
      this.search = ''
      this.$emit('refresh')
    },

    click(name) {
      this.$emit('toolbarMethod', {name})
    }
  }
}
</script>
