<template lang="pug">div
  .workdays_annotate
    .workdays_annotate__workdays {{ annotate.workdays + annotate.pre_holidays }}
    span рабочих дней, в том числе
    .workdays_annotate__pre_holidays {{ annotate.pre_holidays }}
    span сокращенных дней,
    .workdays_annotate__holidays {{ annotate.holidays }}
    span праздничных дней,
    .workdays_annotate__weekends {{ annotate.weekends }}
    span выходных
</template>

<script>
export default {
  name: 'WorkdaysAnnotate',
  props: {
    annotate: {type: Object, default: () => new Object},
  }
}
</script>
