<template lang="pug">div
  .month
    .month__label {{ month.label }}
    .month__annotate
      | {{ month.annotate.workdays + month.annotate.pre_holidays }} рабочих дней, {{ month.annotate.hours }} часов
    .month__days
      .month__day--empty(v-if="month.days[0].weekday > 0" :style="'grid-column:' + month.days[0].weekday")
      .month__day(v-for="day in month.days" :class="'month__day--' + day.day_type") {{ day.day }}
</template>

<script>
export default {
  name: 'WorkingCalendarMonth',
  
  props: {
    month: {type: Object, default: () => new Object}
  },
  
  methods: {
    range(start, stop, step) {
      const data = [start]
      let b = start
      const _step = step || 1
      while (b < stop) data.push(b += _step || 1)
      return data
    }
  }
}
</script>
