$color_main: #35495e;
$color_main_light: #e5ecf7;

$color_gray: rgba(0, 0, 0, .35);
$color_gray_dark: #858585;
$color_gray_middle: rgba(0, 0, 0, .1);
$color_gray_light: rgba(0, 0, 0, .075);
$color_btn: #fff;
$color_btn_txt: rgba(0, 0, 0, .75);
$color_btn--hover: #0075bb;
$color_btn--hover_txt: #fff;
$color_bg_red: #EF5350;
$color_error_text: #EF5350;
$color_red: #d66262;
$color_red_dark: #b9252a;
$color_red_lite: #ffd3d3;
$color_green: #5cc777;
$color_green_light: #a7e4cc;
$color_green_dark: #1f8d3b;

$color_green_linear: rgba(5, 200, 100, .35);

$color_workday: rgba(200, 200, 200, .0);
$color_workday--hover: rgba(200, 200, 200, .5);
$color_workday_txt: #000;
$color_workday_txt--hover: #000;

$color_weekend: rgba(245, 215, 115, .25);
$color_weekend--hover: rgba(245, 215, 115, .85);
$color_weekend_txt: #000;
$color_weekend_txt--hover: #000;

$color_holiday: rgba(255, 0, 0, .25);
$color_holiday--hover: rgba(255, 0, 0, .75);
$color_holiday_txt: #000;
$color_holiday_txt--hover: #fff;

$color_pre_holiday: rgba(200, 200, 200, .35);
$color_pre_holiday--hover: rgba(200, 200, 200, 1);
$color_pre_holiday_txt: #000;
$color_pre_holiday_txt--hover: #fff;