<template lang="pug">div
  v-container.appoint_week
    //div
      el-icon
        edit
      el-icon
        component(:is="icon")
    .appoint_week__title
      .text {{ weekStore.weekLabel }}
      el-date-picker.hidden(v-model="weekModel" type="week" placeholder="Pick a month")
      //date-picker.hidden(v-model:value="weekModel")
    common-toolbar(:buttons="buttonsTop" @toolbarMethod="toolbarMethod" styleObject="float: right")
    common-filters(v-model="weekStore.filtersData" :filters="weekStore.filters" @setFilterData="setFilterData")
    .appoint_week__settings
      select-click(v-model="settings.minutes.current" :item="settings.minutes")
      select-click(v-model="settings.range.current" :item="settings.range")

    .appoint_week__table(v-if="!weekStore.loading" )
      .appoint_week__day(v-for="day in weekStore.timesheet.days" :style="getDayTitleStyle(day)")
        .appoint_week__day__label(:class="day.day_type")
          .appoint_week__day__label__weekday {{ weekStore.weekDays[day.weekday] }}
          .appoint_week__day__label__day {{ day.day }}
        .appoint_week__day__staffs
          .appoint_week__day__staff(v-for="timetable_day in getTimetables(day)")
            .appoint_week__day__staff__name {{ getStaffName(timetable_day.staff) }}
            .cell(
              v-for="cell in timetable_day.cells"
              :style="getCellStyle(cell)"
              @mouseover="cellHandler('over', cell)"
              @mouseleave="cellHandler('leave', cell)"
              @click="cellHandler('click', cell)"
              :title="`${cell.begin_hhmm} - ${cell.end_hhmm}`"
            )
              .appoint(v-if="cell.id")
                .appoint__time {{ cell.begin_hhmm }}
                .appoint__client {{ getClient(cell.cache)?.full_name }}
              .empty(v-else) {{ cell.begin_hhmm }}

  appoint-dialog

</template>

<script>
import moment from 'moment'
import {useAppointStore} from '@/stores/appoint.js'
import {useAppointWeekStore} from '@/stores/appoint_week.js'
import CommonToolbar from '@/components/common/Toolbar.vue'
import CommonFilters from '@/components/common/Filters.vue'
import SelectClick from '@/components/common/SelectClick.vue'
import AppointDialog from '@/components/appoint/AppointDialog.vue'

export default {
  name: 'AppointWeek',

  components: {CommonFilters, CommonToolbar, SelectClick, AppointDialog},

  data: () => ({
    related: {},
    icon: 'edit',
    cellFocused: {}
  }),

  setup() {
    const appointStore = useAppointStore()
    const weekStore = useAppointWeekStore()
    return {appointStore, weekStore}
  },

  computed: {
    buttonsTop() {
      return [
        {
          name: 'currentWeek', icon: 'mdi-history', title: 'Текущая неделя', active: true,
          method: 'getWeek', args: 'current'
        },
        {name: 'refresh', icon: 'mdi-refresh', title: 'Обновить', active: true, method: 'getWeek'},
        {
          name: 'prevWeek', icon: 'mdi-chevron-double-left', title: 'Предыдущая неделя',
          active: true, method: 'getWeek', args: 'previous'
        }, {
          name: 'nextWeek', icon: 'mdi-chevron-double-right', title: 'Следующая неделя',
          active: true, method: 'getWeek', args: 'next'
        },
        //{name: 'currentMonthDisplay', display: this.weekTitle},
      ]
    },
    settings: {
      get() {
        return this.weekStore.settings
      },
      set(value) {
        this.weekStore.settings = value
      }
    },
    minute_height() {
      return this.settings.cell_height / this.settings.minutes.current
    },
    weekModel: {
      get() {
        return moment(this.weekStore.day, 'YYYY-MM-DD').toDate()
      },
      set(v) {
        this.weekStore.day = moment(v).format('YYYY-MM-DD')
        this.weekStore.getWeek()
      }
    },
  },

  watch: {
    'weekStore.filtersData': {
      handler(v) {
        this.weekStore.getWeek()
      },
      deep: true
    },
    'settings.range.current'(v) {
      this.weekStore.range = v
      this.weekStore.getWeek()
    },
  },

  created() {
    this.weekStore.range = this.settings.range.current
    this.moment = moment
    this.weekStore.init()
  },

  methods: {
    toolbarMethod(data) {
      const item = this.buttonsTop.find(i => i.name === data.name)
      const method = item.method
      const args = item.args
      this[method](args)
    },

    getClient(cache) {
      return cache.client ? this.getRelated('client', cache.client[0]) : {}
    },

    getRelated(related, id) {
      return this.weekStore.related[related].find(i => i.id === id)
    },

    getStaffName(id) {
      const staff = this.weekStore.related.staff.filter(i => i.id === id)[0]
      return `${staff.last_name} ${staff.initials}`
    },

    getTimetables(day) {
      return this.weekStore.timetable.filter(i => i.begin.slice(0, 10) === day.date)
    },

    getWeek(step) {
      this.weekStore.getWeek(step)
    },

    getDayTitleStyle(day) {
      const timetable = this.weekStore.timetable.filter(i => i.begin.slice(0, 10) === day.date)
      return `grid-column: span ${timetable.length > 0 ? timetable.length * 2 : 1};`
    },

    getCellStyle(cell) {
      let height = Math.round(cell.minutes * this.minute_height)
      let style = {height: `${height}px`}
      if (cell.id) {
        const stage = this.getRelated('stage', cell.stage)
        if (cell === this.cellFocused) {
          style = {
            ...style, 'color': `${stage.color_hover}`, 'background-color': `${stage.color_bg_hover}`
          }
        } else {
          style = {
            ...style, 'color': `${stage.color}`, 'background-color': `${stage.color_bg}`
          }
        }
      }
      return style
    },

    cellHandler(action, cell) {
      if (action === 'leave') this.cellFocused = {}
      else if (action === 'over') this.cellFocused = cell
      else if (action === 'click') this.appointStore.appoint = cell
    },

    setFilterData(name, value) {
      if (value) {
        this.weekStore.filtersData[name] = value
      } else {
        delete this.weekStore.filtersData[name]
      }
    },
  }
}
</script>


<style lang="scss">
.el-icon-edit {
  font-size: 30px;
}
</style>