<template lang="pug">div
  .appoint_week__settings
    v-select.generic-paginator-size(
      v-model="value"
      :items="items"
    )
</template>

<script>
export default {
  name: 'AppointWeekSettings',
  props: {
    modelValue: {type: Number, default: () => null},
    items: {type: Array, default: () => []}
  },
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>
