<template lang="pug">div
  v-container.appoint_month
    .appoint_month__title
      .text {{ title }}
      date-picker.hidden(v-model:value="monthModel" type="month")
    common-toolbar(:buttons="buttonsTop" @toolbarMethod="toolbarMethod" styleObject="float: right")
    common-filters(v-model="storeMonth.filtersData" :filters="storeMonth.filters" @setFilterData="setFilterData")

    .appoint_month__table
      .appoint_month__days
        .appoint_month__weekday(v-for="weekday in storeMonth.timesheet.weekdays") {{ weekday }}
        template(v-for="month in storeMonth.timesheet.months")
          .appoint_month__days__previous-month(
            v-if="month.days[0].weekday > 0"
            :style="`grid-column: 1 / ${month.days[0].weekday + 1}`"
          )
          .appoint_month__day(
            v-for="day in month.days" :key="`day-${day.day}`" :class="getDayClass(month, day)"
          )
            .appoint_month__day__label {{ day.day }}
            .appoint_month__day__branch(
              v-for="(stages, branch_id) in storeMonth.appoints[day.date]" @click="clickDay(day.date, branch_id)"
            )
              .appoint_month__day__branch_name {{ storeMonth.branches[branch_id] }}
              .appoint_month__day__stage(
                v-for="stage in getStages(stages)"
                :style="{color: stage.color, backgroundColor: stage.color_bg}"
              ) {{ stage.count }}
          .appoint_month__days__next-month(
            v-if="month.days[month.days.length - 1].weekday < 6"
            :style="`grid-column: ${month.days[month.days.length - 1].weekday + 2} / 8`"
          )
</template>

<script>
import moment from 'moment'
import {useAppointMonthStore} from '@/stores/appoint_month.js'
import {useAppointWeekStore} from '@/stores/appoint_week.js'
import CommonFilters from '@/components/common/Filters.vue'
import CommonToolbar from '@/components/common/Toolbar.vue'

export default {
  name: 'AppointMonth',

  components: {CommonFilters, CommonToolbar},

  data: () => ({}),

  setup() {
    const storeMonth = useAppointMonthStore()
    const storeWeek = useAppointWeekStore()
    return {storeMonth, storeWeek}
  },

  computed: {
    title() {
      return this.storeMonth.monthName ? `${this.storeMonth.timesheet.year} ${this.storeMonth.monthName}` : ''
    },
    monthModel: {
      get() {
        return moment(`${this.storeMonth.month}-1`, 'YYYY-MM-DD').toDate()
      },
      set(v) {
        this.storeMonth.month = moment(v).format('YYYY-MM')
        this.storeMonth.getMonth()
      }
    },

    buttonsTop() {
      return [
        {
          name: 'currentMonth', icon: 'mdi-history', title: 'Текущий месяц', active: true,
          method: 'getMonth', args: 'current'
        },
        {
          name: 'refresh', icon: 'mdi-refresh', title: 'Обновить', active: true, method: 'getMonth'
        },
        {
          name: 'previousMonth', icon: 'mdi-chevron-double-left', title: 'Предыдущий месяц', active: true,
          method: 'getMonth', args: 'previous'
        }, {
          name: 'nextMonth', icon: 'mdi-chevron-double-right', title: 'Следующий месяц', active: true,
          method: 'getMonth', args: 'next'
        }
      ]
    }
  },

  watch: {
    'storeMonth.filtersData': {
      handler() {
        this.storeMonth.getMonth()
      },
      deep: true
    },
  },

  created() {
    this.storeMonth.init()
  },

  methods: {
    toolbarMethod(data) {
      const item = this.buttonsTop.find(i => i.name === data.name)
      const method = item.method
      const args = item.args
      this[method](args)
    },

    getStages(stages) {
      let result = []
      for (const [name, count] of Object.entries(stages)) {
        if (count === 0) continue
        const _stage = this.storeMonth.stages.find(i => i.name === name)
        result.push({count, ..._stage})
      }
      return result
    },

    setFilterData(name, value) {
      if (value) {
        this.storeMonth.filtersData[name] = value
      } else {
        delete this.storeMonth.filtersData[name]
      }
    },

    getDayClass(month, day) {
      let day_class = [day['day_type']]
      if (day.weekday === 0) day_class.push('monday')
      if (month.days[0].week === day.week) day_class.push('first_week')
      return day_class
    },

    getMonth(step) {
      this.storeMonth.getMonth(step)
    },

    clickDay(day, branch_id) {
      this.storeWeek.reset()
      this.storeWeek.day = day
      this.storeWeek.filtersData.branch = parseInt(branch_id)
      this.$router.push({name: 'appoint_week'})
    }
  }
}
</script>
