<template lang="pug">div
  v-app
    component(:is="layout")
      router-view
</template>

<script>
import {ref, markRaw, watch} from 'vue'
import {useRoute} from 'vue-router'
import defaultLayout from '@/components/layouts/DefaultLayout.vue'

export default {
  name: 'App',

  setup() {
    const layout = ref()
    const route = useRoute()
    watch(
      () => route.meta, async (meta) => {
        try {
          let name = meta.layout || 'default'
          name = name[0].toUpperCase() + name.slice(1) + 'Layout'
          const component = await import(`./components/layouts/${name}.vue`)
          layout.value = markRaw(component?.default || AppLayoutDefault)
        } catch (e) {
          layout.value = markRaw(defaultLayout)
        }
      },
      {immediate: true}
    )
    return {layout}
  }
}
</script>


<style lang="scss">
@import "@/assets/scss/main.scss";
</style>