.many {
  .v-field__input {
    margin: 3px 0 0 0 !important;
  }
}

.v-combobox {
  &__selection {
    height: 28px;
    margin: 0 3px 3px 0;
  }

  &__chip {
    cursor: pointer;
    padding: 3px 8px 2px;
    border: $border;

    &:hover {
      background-color: $color_gray_light;
    }
  }
}
