.v-field {
  &__overlay {
    background-color: unset !important;
  }

  &__input {
    padding: 0 8px !important;
    font-size: .9rem;
    -webkit-mask-image: unset !important;

    .v-select__selection-text {
      padding-top: 0.1rem;
    }
  }

  .v-select__selection {
    padding-top: 4px;
  }

  &__clearable {
    &:hover .v-icon {
      opacity: .9;
      color: $color_btn--hover;
    }
  }

  //&__append-inner {
  //  height: 33px;
  //}
  //
  //&__outline::before {
  //  height: auto !important;
  //  min-height: 36px;
  //}

}

.common-field__chip {
  padding: 1px 5px;
  border: $border;
}
