.v-input {

  .v-selection-control {
    border-bottom: $border;
    padding-left: 10px;
  }

  &--density-compact {

    .v-field--variant-filled {
      //height: 100%;
      //--v-input-control-height: 33px !important;
      --v-input-padding-top: 4px;
    }
  }

  &__control, &__slot:before {
    border: none;
  }

  &__append-inner {
    padding: 0 !important;
  }

  &__icon {
    height: unset;
    min-width: unset;
    width: unset;

    &--clear {

    }
  }

  .v-icon--link {
    width: 26px;
    height: 26px;

    &:hover {
      color: #fff !important;
      background: $color_btn !important;
    }
  }

  .v-chip {

  }

}
