.v-list--nav .v-list-item, .v-list--nav .v-list-item:before {
  border-radius: 0;
}

.v-list {
  padding: 5px 0;
  border-radius: 0;

  &-item {
    min-height: unset !important;
    border-bottom: $border_lite;

    &-title {
      font-size: .9rem;
    }

    &__icon:last-of-type:not(:only-child) {
      margin-left: 0 !important;
    }

    &__content {
      padding: 0;
    }

    &__title {
      white-space: unset !important;
      padding: 5px 0;
    }
  }
}
