.v-select-list {
  border-radius: 0 !important;
  padding: 0;

  .v-list-item {
    min-height: 30px;
  }

  .v-list {
    padding: 0;

    .v-list-item {

      &__content {
        padding: 8px;
      }
    }


  }
}
