.v-picker {
  &__title {
    padding: 8px 16px;

    &__btn {
      height: unset;
      font-size: 50px;
    }
  }
}

.v-time-picker-title__time {
  span {
    height: unset;
    font-size: 50px;
  }

  .v-picker__title__btn {
    height: unset;
    font-size: 50px;
  }
}


