.appoint_week {
  font-size: 14px;

  &__title {
    display: inline-block;
    font-size: 26px;

    .text {
      cursor: pointer;
      width: 100%;
    }

    .hidden {
      height: 35px;
      opacity: 0;
      width: 350px;
      margin-top: -35px;
      position: absolute;
    }
  }

  &__settings {
    .select-click {
      padding-right: 15px;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    margin: 10px auto;
  }

  &__day {
    border-top: $border;
    border-right: $border;
    border-bottom: $border;

    &:first-child {
      border-left: $border;
    }


    &__weekday {
      height: 28px;
      text-align: left;
      padding: 3px 10px;
    }

    &__label {
      display: grid;
      grid-template-columns: 50% 50%;
      cursor: pointer;
      border-bottom: $border;

      &__weekday {
        padding: 10px 0 0 8px;
      }

      &.workday {
        color: $color_workday_txt;
        background-color: $color_workday;

        &:hover {
          color: $color_workday_txt--hover;
          background-color: $color_workday--hover;
        }
      }

      &.weekend {
        color: $color_weekend_txt;
        background-color: $color_weekend;

        &:hover {
          color: $color_weekend_txt--hover;
          background-color: $color_weekend--hover;
        }
      }

      &.holiday {
        color: $color_holiday_txt;
        background-color: $color_holiday;

        &:hover {
          color: $color_holiday_txt--hover;
          background-color: $color_holiday--hover;
        }
      }

      &.pre_holiday {
        color: $color_pre_holiday_txt;
        background-color: $color_pre_holiday;

        &:hover {
          color: $color_pre_holiday_txt--hover;
          background-color: $color_pre_holiday--hover;
        }
      }

      &__day {
        text-align: right;
        font-size: 22px;
        padding: 0 8px 0 0;
      }
    }

    &__staffs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    &__staff {
      position: relative;
      border-left: $border;

      &__name {
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        border-bottom: $border_lite;
        padding: 2px 5px 1px;

        &:hover {
          color: #000;
          background-color: $color_gray_light;
        }
      }
    }

    &__staff:first-child {
      border-left: unset;
    }

    .cell {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      border-bottom: $border_lite;
      color: $color_gray_dark;

      &:hover {
        color: #000;
        background-color: $color_gray_light;
      }

      &:last-child {
        border-bottom: none !important;
      }
    }

    .appoint {
      padding-top: 2px;
      white-space: nowrap;

      &__time, &__client {
        vertical-align: top;
        display: inline-block;
        padding: 0 2px 2px 5px;
      }

      &__client {
        display: inline-block;
        overflow: hidden;
      }
    }

    .empty {
      padding: 3px 5px;
    }
  }
}
