.appoint_month {

  &__title {
    display: inline-block;
    font-size: 26px;

    .text {
      cursor: pointer;
      width: 100%;
    }

    .hidden {
      height: 35px;
      opacity: 0;
      width: 200px;
      margin-top: -35px;
      position: absolute;
    }
  }

  &__table {
    margin: 10px 0 0;
    text-align: center;
  }

  &__weekday {
    text-align: left;
    padding: 3px 5px 0;
    height: 28px;

    &:hover {
      color: $color_workday_txt;
      background-color: $color_workday;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &__previous-month {
      border-top: $border_lite;
      border-right: $border;
      border-bottom: $border;
      border-left: $border_lite;
      text-align: left;
    }

    &__next-month {
      border-right: $border_lite;
      border-bottom: $border_lite;
      text-align: right;
    }
  }

  &__day {
    text-align: center;
    min-height: 85px;
    border-right: $border;
    border-bottom: $border;

    &.first_week {
      border-top: $border;
    }

    &.monday {
      border-left: $border;
    }

    &.workday {
      color: $color_workday_txt;
      background-color: $color_workday;

      &:hover {
        color: $color_workday_txt--hover;
        background-color: $color_workday--hover;
      }
    }

    &.weekend {
      color: $color_weekend_txt;
      background-color: $color_weekend;

      &:hover {
        color: $color_weekend_txt--hover;
        background-color: $color_weekend--hover;
      }
    }

    &.holiday {
      color: $color_holiday_txt;
      background-color: $color_holiday;

      &:hover {
        color: $color_holiday_txt--hover;
        background-color: $color_holiday--hover;
      }
    }

    &.pre_holiday {
      color: $color_pre_holiday_txt;
      background-color: $color_pre_holiday;

      &:hover {
        color: $color_pre_holiday_txt--hover;
        background-color: $color_pre_holiday--hover;
      }
    }

    &__label {
      padding: 3px 8px;
      text-align: right;
    }

    &__branch {
      text-align: left;
      background-color: rgba(0, 117, 187, .1);

      &:hover {
        cursor: pointer;
        background-color: $color_btn--hover;
        color: $color_btn--hover_txt;
      }
    }

    &__branch_name {
      display: inline-block;
      width: 100%;
      padding: 5px 3px 3px;
      text-align: left;
      font-size: 10px;
    }

    &__stage {
      display: inline-block;
      min-width: 30px;
      padding: 3px 8px;
      text-align: center;
    }
  }
}
