.common-info {
  position: relative !important;
  width: 100%;
  padding: 0;
  box-shadow: unset;
  margin: 0 !important;
  max-width: unset;

  * {
    text-transform: unset !important;
  }

  .v-toolbar {
    height: 30px !important;
    box-shadow: unset;

    &__content {
      height: unset !important;
    }
  }

  .v-tab {
    color: rgba(0, 0, 0, .75) !important;
    padding: 0 25px;
    border: 1px solid $color_main_light;
    letter-spacing: 0.075em;

    &--active {
      color: #000 !important;
      background: #fff !important;
      border: 1px solid black;
      border-bottom: 1px solid #fff;
      min-height: 31px !important;
    }
  }

  .v-slide-group {
    &__wrapper {
      background-color: $color_main_light !important;
    }

    &__content {
      border-bottom: 1px solid #000;
    }
  }

  .v-data-table {
    .v-data-table-header {
      th {
        height: 36px;
        padding: 0 12px;
      }
    }

    tbody {
      td {
        height: 30px;
        padding: 0 12px;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: $border_lite;
    }
  }

  &__toolbar {
    height: 30px !important;

    .v-btn {
      height: 30px !important;
      border-radius: 0;
      background-color: unset !important;
      box-shadow: unset !important;
    }
  }

  &__buttons {
    margin: 0;
    padding: 0 0 10px;
    text-align: right;
    max-width: unset !important;
  }

  &__btn {
    background-color: $color_btn !important;
    border-radius: 0;
    height: 30px !important;
    padding: 0 8px !important;

    .v-btn__content {
      flex-direction: row-reverse;
    }
  }

  &__table {
    margin: 0;
    border-top: $border_lite;
    border-bottom: $border_lite;
  }

}