.common-table {
  display: grid;
  grid-template-rows: auto;
  gap: 0;

  margin: 5px 0 0;
  border-top: $border_lite;

  .head {
    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      gap: 0;
      border-bottom: $border_lite;
      background-color: $color_gray_light;
      color: #000;
      font-weight: bold;
      font-size: 0.85rem;
    }

    &__cell {
      display: grid;
      padding: 0;
      border-left: $border_lite;
      overflow: hidden;

      &:last-child {
        border-right: $border_lite;
      }

      .label {
        align-self: center;
        opacity: .65;
        line-height: 1rem;
        padding: 6px 4px 6px 8px;
      }

      .v-icon {
        opacity: .15;
        display: none;
      }

      &.sortable {
        display: grid;
        grid-template-columns: 1fr 20px;
        gap: 0;
        cursor: pointer;
        padding: 6px 6px 6px 0;

        .v-icon {
          display: inline-block;
          align-self: center;
          margin-bottom: 3px;

          &.active {
            opacity: .85;
          }
        }

        &:hover {
          background-color: $color_gray_middle;

          .label {
            opacity: .85;
          }
        }

        &.direct, &.reverse {
          .label, .v-icon {
            opacity: 1;
          }
        }
      }
    }
  }

  .body {
    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      gap: 0;
      border-bottom: $border_lite;
      font-size: 0.85rem;

      &:hover {
        background-color: $color_main_light;
      }
    }

    &__cell {
      display: grid;
      padding: 5px 8px 4px;
      border-left: $border_lite;
      overflow: hidden;

      &:last-child {
        border-right: $border_lite;
      }
    }
  }
}
