.common-dialog {
  background-color: #fff;

  //.v-card {
  //  margin: 0 auto;
  //  padding: 0;
  //
  //  &__title {
  //    margin: 0;
  //    padding: 0;
  //    border-bottom: $border_lite;
  //    align-items: normal;
  //
  //    .text {
  //      display: inline-block;
  //      padding: 5px 0 5px 15px;
  //      min-height: unset;
  //      max-height: unset;
  //      overflow: auto;
  //    }
  //
  //    .v-btn {
  //      height: 42px !important;
  //    }
  //  }
  //
  //  &__text {
  //    padding: 0;
  //
  //    .container {
  //      padding: 0;
  //    }
  //  }
  //
  //}

  &__header {
    display: grid;
    grid-template-columns: 1fr 130px;
    gap: 0;
    grid-template-areas: "title actions";

    &__title {
      grid-area: title;
      padding: 8px 12px 0;
      font-size: 1rem;
    }

    &__actions {
      grid-area: actions;
      text-align: right;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 10px;

    &_left {

    }

    &_right {
      text-align: right;
    }

    .v-btn {
      padding: 0 16px !important;
      border-radius: 0;
      background-color: $color_btn !important;
      color: #000;

      //* {
      //  color: #fff !important;
      //}
    }
  }

  &__loading {
    min-height: 210px;

    .v-progress-circular {
      position: absolute;
      margin: 28px 50% 0;
      left: -50px;
    }
  }

}
