.common-list {
  min-width: 700px;
  margin: 0 15px 0 5px;

  * {
    text-transform: unset !important;
  }

  &-top-tab {
    box-shadow: unset !important;
    margin-bottom: 5px;

    .v-tabs-bar {
      height: 30px;
      background-color: $color_main_light !important;
    }

  }

  .v-tab {
    color: rgba(0, 0, 0, .75) !important;
    padding: 0 25px;
    border: 1px solid $color_main_light;
    letter-spacing: 0.075em;

    &--active {
      color: #000 !important;
      background: #fff !important;
      border: 1px solid black;
      border-bottom: 1px solid #fff;
      min-height: 31px !important;
    }
  }

  .selected, .selected:hover {
    background-color: $color_btn !important;
    color: #fff !important;
  }
}