.common-form {

  &__row {
    display: grid;
    grid-template-columns: [label] 38% [control] 62%;
    grid-auto-flow: row;
    grid-gap: 0;
    padding: 0;
    font-size: .9rem;
    border-bottom: 1px solid rgba(0, 0, 0, .25);

    &__label {
      grid-column: label;
      grid-row: auto;
      background-color: rgba(0, 0, 0, .025);
      padding: 6px 10px 0;
      text-align: right;

      &.required {
        &:after {
          display: inline-block;
          color: $color_red;
          padding-left: 3px;
          vertical-align: top;
          font-size: 22px;
          content: "*";
          line-height: 1rem;
        }
      }
    }

    &__control {
      grid-column: control;
      grid-row: auto;

      .v-input, .v-select, .v-text-field {
        padding: 0;
        margin: 0;

        &__control {
          flex-wrap: unset;
          flex-direction: unset;
          flex-grow: unset;
        }

        &__slot {
          margin: 0;
          padding-left: 5px !important;
        }
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  .common-field {
    height: 100%;
    min-height: 30px;

    .v-input {
      &__control {
        height: 100%;
      }
    }

    .v-input--switch .v-input--selection-controls__input {
      height: 100%;
      width: 38px;
      margin-top: 4px;
    }

    &-chip {
      height: 24px;
      border-radius: 2px;
      padding: 0 6px;

      .txt {
        padding-top: 2px;
        font-size: 16px;
      }

      .v-chip__close {
        margin-right: -4px !important;
        margin-left: 4px;
        font-size: 22px !important;
        max-width: 22px;
        max-height: 22px;
      }
    }

    &-remote-add {
      width: 36px !important;
      min-width: 36px !important;
      padding: 0;
    }

    &__datetime {
      display: grid;
      grid-template-columns: auto auto;

      .v-input {

      }
    }
  }

  .field-errors {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }

  .field-error {
    color: $color_red_dark;
    padding: 5px 8px;
    text-align: right;
  }
}
