.mx-datepicker {
  width: 100% !important;
  border-bottom: $border;

  .mx-input {
    height: 33px !important;
    background-color: unset !important;
    border-radius: 0;
    border: unset !important;
    font-size: .9rem !important;
    box-shadow: unset !important;
  }

  &-popup {
    z-index: 12001 !important;
  }
}


