.login {
  &-card {
    margin: 20% auto 0;
    border-radius: 0;
  }

  &-form {
    border: $border;

    .error {
      &--text {
        color: $color_error_text;

        .v-messages {
          &__message {
          }
        }
      }
    }
  }

}
