.side-bar {

  &__group {
    border-right: $border-lite;
    border-bottom: $border;
  }

  &__item {
    display: grid;
    width: 100%;
    grid-template-columns: 48px auto;
    grid-auto-flow: row;
    grid-gap: 0;
    min-height: 38px;
    align-items: center;
    align-content: center;
    color: $color_btn_txt;
    text-decoration: none;
    border-bottom: $border-lite;

    &:last-child {
      border-bottom: none;
    }

    .v-icon {
      color: $color_gray_dark;
      margin: 0 auto;
    }

    &__title {
      margin: 0.2em 0.5em 0.2em 0;
      line-height: 1.2em;
      font-size: .9em;
    }

    &.router-link-active {
      background-color: $color_gray_light;

      * {
        color: #000;
      }
    }

    &:hover {
      background-color: $color_btn--hover;
      color: $color_btn--hover_txt;

      * {
        color: $color_btn;
      }
    }

  }
}

