.top-bar {
  background-color: $color_main !important;
  color: #fff !important;

  &__content {
    height: 50px;
  }

  &__menu {
    width: 220px;

    &.min {
      width: 48px;
      text-align: left;
    }
  }

  &__item {
    display: inline-block;
    padding: 0;
    background-color: $color_main;

    .v-list {
      background: none;
      border: none;
    }
  }

  .v-btn {
    height: 50px !important;
    padding: 0 12px !important;
    width: auto !important;
    border-radius: 0;

    * {
      color: #fff;
    }

    &:hover, &--active {
      background-color: $color_btn--hover;
      color: $color_btn--hover_txt;
    }
  }

  &--drop {
    padding: 0 !important;
    border-radius: 0 !important;

    .group:not(:first-child) {
      border-top: $border_bolt;
    }

    .v-list-item {
      min-height: unset;
      border-bottom: $border_lite;

      &--density-default {
        padding-inline-start: 10px !important;
        padding-inline-end: 10px !important;
      }

      &__prepend > .v-icon {
        margin-inline-end: 13px;
      }

      &-title {
        padding: 3px 0 2px;
        font-size: .9em;
      }

      &:hover {
        //background-color: $color_btn--hover;
        //color: $color_btn--hover_txt;

        * {
          //color: #fff;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}


.v-navigation-drawer {
  padding: 0 !important;

  * {
    transition: 0s !important;
  }

  &__group {
    border-bottom: $border;
  }

  .v-navigation-drawer__border {
    //background-color: rgba(0, 0, 0, .5) !important;
  }

  .v-list {
    padding: 0;

    .v-list-item {
      &__content {
        padding: 10px !important;
      }
    }

    &-item {
      padding: 0 !important;
      margin: 0 !important;

      &__content {

        .v-list-item {
          min-height: 32px !important;
          padding-top: 1px;
          border-bottom: $border_lite;

          &__title {
            font-size: 15px;
          }

          &--link {
            padding: 3px 10px 2px 10px !important;
          }

          &--disabled {
            padding: 4px 10px 3px 10px !important;
          }

          &__icon {
            margin: 4px 10px 0 0;
          }

          &:hover {
            //background-color: $color_btn--hover;
            //color: $color_btn--hover_txt;

            * {
              //color: #fff;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &__title {
        //color: red;
      }
    }
  }
}

