.workdays_annotate {
  grid-area: annotate;
  font-size: 14px;
  align-self: end;

  &__workdays, &__weekends, &__holidays, &__pre_holidays {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 5px;
  }

  &__workdays {
    margin: 0 5px 0 0;
    border: 1px solid $color_gray_dark;
    color: $color_workday_txt;
    background-color: $color_workday;
  }

  &__weekends {
    color: $color_weekend_txt;
    background-color: $color_weekend;
  }

  &__holidays {
    color: $color_holiday_txt;
    background-color: $color_holiday;
  }

  &__pre_holidays {
    color: $color_pre_holiday_txt;
    background-color: $color_pre_holiday;
  }
}