<template lang="pug">div
  .about
    VueDatePicker(v-model="date")

    a(:href="`file:${path}Nachalo.avi`")
      img(src="@/assets/images/nachalo.png")

</template>

<script>
import VueDatePicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

export default {
  name: 'Test',
  
  components: {VueDatePicker},
  
  data: () => ({
    path: '/////mnt/store/video/cinema/',
    date: null,
    picker: new Date().toISOString().substr(0, 7),
    picker2: new Date().toISOString().substr(0, 7),
    
    filters: {},
  }),
  
}
</script>

<style lang="scss">

</style>
