<template lang="pug">div
  div(@click="test") Test
</template>

<script>
import { useAccountStore } from '@/stores/account.js'

export default {
  name: 'Test',
  
  setup() {
    const account = useAccountStore()
    return {account}
  },
  
  methods: {
    test() {
      console.log(this.account)
      console.log(localStorage.token)
    }
  }
}
</script>
