<template lang="pug">div
  .side-bar
    .side-bar__group(v-for="(group, groupIndex) in navigation.getSideBarItems(root)" :key="groupIndex")
      router-link.side-bar__item(
        v-for="(item, itemIndex) in group" :key="itemIndex" :to="item" :title="item.meta.title"
      )
        v-icon(:icon="item.meta.icon")
        .side-bar__item__title(v-if="navigation.sideBar.mode === 'full'") {{ item.meta.title }}
</template>

<script>
import { useNavigationStore } from '@/stores/navigation.js'

export default {
  
  props: {
    value: {
      type: Boolean, default: false
    },
  },
  
  setup() {
    const navigation = useNavigationStore()
    return {navigation}
  },
  
  data: () => ({}),
  
  computed: {
    root() {
      return this.$route.matched.length > 0 ? this.$route.matched[0].name : ''
    },
    
    items() {
      return this.navigation.getSideBarItems(this.root)
    },
  },
  
  watch: {},
  methods: {}
}
</script>
