<template lang="pug">.top-bar__content
  .top-bar__item(v-for="(item, index) in items" :key="index")
    template(v-if="Object.prototype.hasOwnProperty.call(item, 'children')")
      v-btn(
        flat
        append-icon="mdi-menu-down"
        :class="{'v-btn--active': $route.matched.length > 0 && item.name === $route.matched[0].name}"
        :title="item.meta.title"
      )
        v-icon {{ item.meta.icon }}
        v-menu(activator="parent" open-on-hover open-delay="100" close-delay="100")
          v-list.top-bar--drop
            .group(v-for="group in item.children")
              v-list-item(v-for="(child, index) in group" :key="index" :to="child.path")
                template(v-slot:prepend)
                  v-icon(:icon="child.meta.icon")
                v-list-item-title(v-text="child.meta.title")
    template(v-else)
      v-btn(
        flat
        :title="item.meta.title"
        :to="item.path"
      )
        v-icon {{ item.meta.icon }}
</template>


<script>
export default {
  props: {
    items: Array, default: () => []
  },

  computed: {
    root() {
      return this.$route.meta.parent
    }
  },

  watch: {}
}
</script>


<style lang="scss">
.v-btn {
  &--active {
    background-color: $color_btn--hover;
  }
}
</style>