<template lang="pug">div
  v-app-bar.top-bar(app :clipped-left="true" :clipped-right="true" height="50")
    .top-bar__menu(:class="navigation.sideBar.mode")
      v-app-bar-nav-icon(:icon="menuIcon" @click="navigation.switchSideBar()")
    top-bar-item(:items="items.left")
    v-spacer
    top-bar-item(:items="items.right")
</template>

<script>
import { useNavigationStore } from '@/stores/navigation.js'
import TopBarItem from './TopBarItem.vue'

export default {
  components: {
    TopBarItem
  },
  
  props: {
    showSideBar: {type: Boolean, default: true}
  },
  
  setup() {
    const navigation = useNavigationStore()
    return {navigation}
  },
  
  data: () => ({
    items: {
      left: [], right: [],
    }
  }),
  
  computed: {
    menuIcon() {
      return this.navigation.sideBar.mode === 'full' ? 'mdi-menu-open' : 'mdi-menu'
    }
  },
  
  created() {
    this.items.left = this.navigation.getTopBarItems('left')
    this.items.right = this.navigation.getTopBarItems('right')
  },
  
  methods: {
  }
}
</script>