<template lang="pug">div
  toolbar(:title='title' :buttons="buttonsTop" @toolbarMethod="toolbarMethod")
  .working_calendar__empty(v-if="Object.keys(calendar).length === 0 || calendar.months.length === 0")
    | Данные отсутствуют
  .working_calendar(v-else)
    center
      workdays-annotate(:annotate="calendar.annotate")
    .working_calendar__months
      month(
        v-for="month in calendar.months"
        :month="month"
      )
</template>

<script>
import api from '@/plugins/api'
import Toolbar from '@/components/common/Toolbar.vue'
import Month from '@/components/common/WorkingCalendarMonth.vue'
import WorkdaysAnnotate from '@/components/common/WorkdaysAnnotate.vue'

export default {
  name: 'WorkingCalendar',
  components: {Toolbar, Month, WorkdaysAnnotate},

  data: () => ({
    year: null,
    calendar: {},
  }),

  computed: {
    title() {
      return `${this.$route.meta.title} ${this.year}`
    },
    buttonsTop() {
      return [
        {name: 'parse', icon: 'mdi-search-web', title: 'Спарсить', active: true, method: 'parseCalendar'},
        {name: 'currentYear', icon: 'mdi-history', title: 'Текущий год', active: true, method: 'currentYear'},
        {name: 'refresh', icon: 'mdi-refresh', title: 'Обновить', active: true, method: 'getCalendar'},
        {name: 'prevYear', icon: 'mdi-chevron-double-left', title: 'Предыдущий год', active: true, method: 'prevYear'},
        {name: 'nextYear', icon: 'mdi-chevron-double-right', title: 'Следующий год', active: true, method: 'nextYear'}
      ]
    }
  },

  watch: {
    calendar: {
      handler() {
        this.year = this.calendar.year
      },
      deep: true
    }
  },

  mounted() {
    this.getCalendar()
  },

  methods: {
    toolbarMethod(data) {
      const item = this.buttonsTop.find(i => i.name === data.name)
      const method = item.method
      const args = item.args
      this[method](args)
    },

    parseCalendar() {
      const self = this
      const data = {params: {year: this.year}}
      api.app.get('directory/working_calendar/parse/', data)
        .then((response) => {
          self.calendar = response.data.calendar
        })
    },

    getCalendar(year) {
      const self = this
      const data = {params: {year: year || this.year}}
      api.app.get('directory/working_calendar/', data)
        .then((response) => {
          self.calendar = response.data.calendar
        })
    },

    currentYear() {
      this.year = null
      this.getCalendar()
    },
    prevYear() {
      this.getCalendar(this.year - 1)
    },
    nextYear() {
      this.getCalendar(this.year + 1)
    }
  }
}
</script>
